#homepage-banner {
    background-image: url('../images//lighthouse.jpg');
    background-position: center center;
    height:500px;
}

#homepage-banner-box {
    background: linear-gradient(90deg, var(--primary-color-transparent) 0%, var(--primary-color-dark-transparent) 100%);
    color: white;
    text-align: center;
    margin:0px;
    height:100%;
    width:100%;
    display: grid;
}

#homepage-banner-box > div {
    margin:auto;
}

#homepage-banner-box h1 {
    font-size: 50px;
    text-shadow: 0px 3px 3px rgba(0,0,0,0.2);
}

#homepage-banner-box h4 {
    font-size: 20px;
    text-shadow: 0px 3px 3px rgba(0,0,0,0.2);
}


.contributor {
    text-align: center;
}

.contributor img {
    height: 100px;
    size: 100px;
}

.attribution {
    font-size: 10px;
    color: var(--primary-color)
}



.data-source-citation h4 {
    font-weight: 600;
    margin-bottom: 5px;
}

.italic {
    font-style: italic;
}

.inline {
    display: inline;
}

.indent {
    padding-left: 35px;
}